# Session #1 Homework

In [1]:
# importing the required libaries
import wget
import pandas as pd 
import numpy as np

**Question 1**

What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.21.5'

In [3]:
!python -m wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
df = pd.read_csv('data.csv')
df.head(2)

Saved under data (10).csv

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

**Question 2**

How many records are in the dataset?

In [4]:
df.shape

(11914, 16)

In [5]:
# 11914 records

**Question 3**

Who are the most popular car manufacturers (top-3) according to the dataset?

In [6]:
df['Make'].value_counts()[:3].sort_values(ascending=False)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

`Chevrolet, Ford, Volkswagen`

**Question4**

What's the number of unique Audi car models in the dataset?

In [7]:
df.loc[df.Make == 'Audi', ['Model']].value_counts().count()

34

`34`

**Question5**

How many columns in the dataset have missing values?

`5 columns have missing data`

In [8]:
df.isnull().sum(axis=0)

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

**Question 6**

1) Find the median value of "Engine Cylinders" column in the dataset.

In [9]:
df['Engine Cylinders'].median()

6.0

2) Next, calculate the most frequent value of the same "Engine Cylinders".

In [10]:
df['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

3) Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

In [11]:
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0])

4) Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?

In [12]:
df['Engine Cylinders'].median()

6.0

`No it median value hasnt changed`

#### Question 7

In [13]:
X = df.loc[df.Make == 'Lotus', ["Engine HP", "Engine Cylinders"]].drop_duplicates()
X.values

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [14]:
XTX = X.T.dot(X)

y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

XTX_inv = np.linalg.inv(XTX)

h = XTX_inv.dot(X.T)

w = h.dot(y)

w

array([  4.59494481, -63.56432501])