<h1>Session One Homework<h1>

__Question One__

What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

In [1]:
# importing the required libraries
import pandas as pd
import numpy as np

In [2]:
np.__version__

'1.21.5'

What's the version of NumPy that you installed?

In [3]:
pd.__version__

'1.4.2'

__Question Two__

__Getting the Data__

For this homework, we'll use the same dataset as for the next session - the car price dataset.
Download it from here.

You can do it with wget:

`!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv`
    Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [4]:
# importing the required libraries
import pandas as pd
import numpy as np

In [5]:
# loading the data via the link
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
df = pd.read_csv(data)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

__Question Three__

What the average price of __BMW__ in the dataset

In [6]:
BMW = df[df.Make == 'BMW'].MSRP.mean()

print(f'The avg price of a BMW car is  {BMW}')

The avg price of a BMW car is  61546.76347305389

__Question Four__

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [7]:
df.loc[df.Year >= 2015,['Make', 'Year']]

       Make  Year
32     FIAT  2017
33     FIAT  2017
34     FIAT  2017
41      BMW  2016
42      BMW  2016
...     ...   ...
11898   BMW  2015
11899   BMW  2015
11900   BMW  2016
11901   BMW  2016
11902   BMW  2016

[5995 rows x 2 columns]

In [8]:
df.loc[df.Year >= 2015,['Make', 'Year', 'Engine HP']].isnull().sum()

Make          0
Year          0
Engine HP    51
dtype: int64

__Question Five__

* Calculate the average "Engine HP" in the dataset.
* Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
* Now, calcualte the average of "Engine HP" again.
* Has it changed?
* Round both means before answering this questions.

In [9]:
avg_hp = df['Engine HP'].mean()
avg_hp

249.38607007176023

In [10]:
df['Engine HP'].fillna(avg_hp).mean()

249.38607007176

In [11]:
after = df['Engine HP'].fillna(0).mean()

In [12]:
# differnce 
mean_diff = avg_hp - after

print(f'The average HP engine in the dataset is {round(after)} after filling the differnce now is {round(mean_diff)}')
print('It has changed')

The average HP engine in the dataset is 248 after filling the differnce now is 1
It has changed

__Question 6__

* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using `drop_duplicates` method.
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* What's the sum of all the elements of the result?

In [13]:
df_roll = df[df.Make == 'Rolls-Royce']
df_roll.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
2921,Rolls-Royce,Corniche,2001,premium unleaded (required),325.0,8.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury",Large,Convertible,15,10,86,359990
3505,Rolls-Royce,Dawn,2016,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,High-Performance",Large,Convertible,19,12,86,335000

In [14]:
df_roll = df[['Engine HP', 'Engine Cylinders', 'highway MPG']]
df_roll

       Engine HP  Engine Cylinders  highway MPG
0          335.0               6.0           26
1          300.0               6.0           28
2          300.0               6.0           28
3          230.0               6.0           28
4          230.0               6.0           28
...          ...               ...          ...
11909      300.0               6.0           23
11910      300.0               6.0           23
11911      300.0               6.0           23
11912      300.0               6.0           23
11913      221.0               6.0           26

[11914 rows x 3 columns]

In [15]:
df_roll = df_roll.drop_duplicates()

In [17]:
df_roll

       Engine HP  Engine Cylinders  highway MPG
0          335.0               6.0           26
1          300.0               6.0           28
3          230.0               6.0           28
6          300.0               6.0           26
9          230.0               6.0           27
...          ...               ...          ...
11881      193.0               6.0           24
11885      184.0               6.0           25
11892      330.0               6.0           23
11896      335.0               6.0           24
11903      394.0               8.0           19

[1994 rows x 3 columns]

In [22]:
X = df_roll.values
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

nan